ion-title{
    font-size: 28px;
    color: white;
}

.labelH{
    font-size: 18px;
    color: white;
}

ion-badge{
    font-size: 24px;
    --background:#EC9973 !important;
}

.toolbarColor{
    --background: #EC9973;
    font-size: 24px;
    color: white;
  }

  ion-content {
    --background: #DB865F ;
    background-position-y: bottom;
  }
