ion-title{
    font-size: 20px;
    color: white;
}

.labelH{
    font-size: 14px;
    color: white;
    font-family: 'Bai Jamjuree';
}

ion-badge{
    font-size: 16px;
    --background:#F68048 !important;
    font-family: 'Prompt';
}

.toolbarColor{
    --background: #F68048;
    font-size: 16px;
    color: white;
    font-family: 'Prompt';
    font-weight: bold;
    padding-left: 3% !important;

  }

  ion-content {
    --background: #C95C27;
    background-position-y: bottom;
  }
