<ion-content class="no-scroll">

  <ion-img src="../assets/img/Accountheading.png" style="width: 100%;"></ion-img>

  <br />

  <form [formGroup]="UserAccountForm">

    <ion-row style="text-align: center; justify-content: center">
      <ion-label>
        อีเมล
      </ion-label>
    </ion-row>

    <ion-row style="text-align: center; justify-content: center">
      <ion-card>
        <ion-input type="text" name="email" formControlName="Email"></ion-input>
      </ion-card>
    </ion-row>

    <ion-row style="text-align: center; justify-content: center">
      <ion-label>
        รหัสผ่าน
      </ion-label>
    </ion-row>

    <ion-row style="text-align: center; justify-content: center">
      <ion-card>
        <ion-input type="password" name="password" formControlName="Password"></ion-input>
      </ion-card>
    </ion-row>
    
    <ion-img src="../assets/img/Accountbg.png" style="width: 100%; position: fixed;"></ion-img>


    <ion-row style="text-align: center; justify-content: center">
      <ion-label>
        ยืนยันรหัสผ่าน
      </ion-label>
    </ion-row>



    <ion-row style="text-align: center; justify-content: center">
      <ion-card>
        <ion-input type="password" name="confirmpassword" formControlName="Password2"></ion-input>
      </ion-card>
    </ion-row>




    <div style="text-align: center;">
      <ion-button color="danger" (click)="Login()" style="font-family: 'Prompt'; font-size: 16px;"
        [disabled]="!UserAccountForm.valid">สมัครสมาชิก</ion-button>
    </div>
  </form>




</ion-content>