<ion-content class="bg-image-hs2">

  <ion-img src="../assets/img/Accountheading.png" style="width: 100%;"></ion-img>

    <br/>
    <div style="text-align: center;">
      <ion-label>
        อีเมล
      </ion-label>
      <br/>
      <ion-card>
        <ion-input type="text" name="email"></ion-input>
      </ion-card>
    </div>
    <br/>
    <div style="text-align: center;">
      <ion-label>
        รหัสผ่าน
      </ion-label>
      <br/>
      <ion-card>
        <ion-input type="password" name="password"></ion-input>
      </ion-card>
    </div>
    <div style="text-align: center;">
      <ion-label>
        ยืนยันรหัสผ่าน
      </ion-label>
      <br/>
      <ion-card>
        <ion-input type="password" name="confirmpassword"></ion-input>
      </ion-card>
    </div>
    
    <br/>


    <div style="text-align: center;">
      <ion-button color="danger" (click)="Login()" style="font-family: 'Prompt'; font-size: 16px;">สมัครสมาชิก</ion-button>
    </div>
   

</ion-content>
