    ion-grid{
      background-color: transparent;;
    }


    ion-content {
        --background: url('/src/assets/img/menu/data_bg.png') no-repeat 100% 100%;
        background-position-y: bottom;
    }


    .cardPic{
        padding-left: 5px;
        padding-right: 5px;
    }