<ion-content>


  <div style="padding: 20px;">
    <div style="padding-top: 10px; text-align: center; width: 100%;">
      <ion-row>
        <ion-col>
          สร้างโดย<br />
          Creators
        </ion-col>
      </ion-row>
    </div>

    <div style="padding-top: 10px; text-align: center; width: 100%;">
      <ion-row>
        <ion-col>
          ศรีทยา ชเนศร์ <br />
          Sritaya Chanete<br />
          อัญชิสา โรจนยุกตานนท์ <br />
          Unchisa Rojanayooktanon
        </ion-col>
      </ion-row>
    </div>

    <div style="padding-top: 10px; text-align: center; width: 100%;">
      <ion-row>
        <ion-col>
          นวัตกรรมสื่อสารนิพนธ์ <br />
          หลักสูตรศิลปศาสตรบัณฑิต<br />
          สาขานวัตกรรมการสื่อสาร<br />
          วิชาเอกการสื่อสารเพื่อสุขภาพ<br />
          วิทยาลัยนวัตกรรมสื่อสารสังคม<br />
          มหาวิทยาลัยศรีนครินทรวิโรฒ
        </ion-col>
      </ion-row>
    </div>

    <div style="padding-top: 10px; width: 100%;">
      <ion-row>
        <ion-col style="text-align: right;">
          ประธานกรรมการที่ปรึกษา <br />
          Head of Advisory Committee
        </ion-col>
        <ion-col style="text-align: left;">
          ผศ.ดร.ศรีรัฐ ภักดีรณชิต <br />
          Asst.Prof.Dr.Srirath Pakdeeronachit
        </ion-col>
      </ion-row>
    </div>

    <div style="padding-top: 10px; width: 100%;">
      <ion-row>
        <ion-col style="text-align: right;">
          กรรมการที่ปรึกษา <br />
          Advisory Committee
        </ion-col>
        <ion-col style="text-align: left;">
          อ.ดร.ชนญญา ชัยวงศ์โรจน์ <br />
          Dr. Chanonya Chaiyawongroj<br />
          อ.อภิรพี เศรษฐรักษ์ <br/>ตันเจริญวงศ์<br />
          Apirapee Tancharoenwong<br />
          ผศ.ดร.จารุวัส หนูทอง<br />
          Asst.Prof.Dr. Jaruwat Noothong<br />
          อ.สุภฆเณศร์ ชุณหศิริรักษ์<br />
          Supkanate Chunhasiriruk
        </ion-col>
      </ion-row>
    </div>

    <div style="padding-top: 10px; width: 100%;">
      <ion-row>
        <ion-col style="text-align: right;">
          ที่ปรึกษาร่วม
        </ion-col>
        <ion-col style="text-align: left;">
          ผศ.ดร.จารุวัส หนูทอง <br />
          Asst.Prof.Dr. Jaruwat Noothong<br/>
          ดร.เสาวลักษณ์ พันธบุตร<br/>
          Dr. Saowaluck  Phanthabutr
        </ion-col>
      </ion-row>
    </div>

    <div style="padding-top: 10px; text-align: center; width: 100%;">
      <ion-row>
        <ion-col>
          ทีมงาน<br />
          Crews
        </ion-col>
      </ion-row>
    </div>

    <div style="padding-top: 10px; width: 100%;">
      <ion-row>
        <ion-col style="text-align: right;">
          ผู้พัฒนาแอปพลิเคชั่น<br />
          Application Developer
        </ion-col>
        <ion-col style="text-align: left;">
          กิตติพิชญ์ หุสะ <br />
          Kittipich Husa <br />
          นันท์พิพัฒน์ กลิ่นประทุม <br />
          Nanpipat Klinpratom
        </ion-col>
      </ion-row>
    </div>

    <div style="padding-top: 10px; width: 100%;">
      <ion-row>
        <ion-col style="text-align: right;">
          ออกแบบแอปพลิเคชั่น<br />
          Application Designer<br />
          เรียบเรียงข้อมูล<br />
          Data Rewriter
        </ion-col>
        <ion-col style="text-align: left;">
          ศรีทยา ชเนศร์ <br />
          Sritaya Chanate <br />
          อัญชิสา โรจนยุกตานนท์ 
          Unchisa Rojanayooktanon <br />
        </ion-col>
      </ion-row>
    </div>

    <div style="padding-top: 10px; width: 100%;">
      <ion-row>
        <ion-col style="text-align: right;">
          ขอขอบคุณข้อมูลอ้างอิง <br />
          Reference by
        </ion-col>
        <ion-col style="text-align: left;">
          สถาบันวัคซีนแห่งชาติ <br />
          National Vaccine Institute <br />
          สมาคมโรคติดเชื้อแห่งประเทศไทย <br />
          Infectious Disease Association of Thailand<br />
          ศูนย์ควบคุมและป้องกันโรค <br />
          Centers for Disease Control and Prevention <br />
        </ion-col>
      </ion-row>
    </div>

    <div style="padding-top: 10px; width: 100%;">
      <ion-row>
        <ion-col style="text-align: right;">
          ขอขอบคุณ<br />
          Special Thanks
        </ion-col>
        <ion-col style="text-align: left;">
          ภญ. ธิดารัตน์ <br />ทรัพย์วิทยาภัณฑ์<br />
          Tidarat <br />Subvithayapan R.Ph<br />
          ครอบครัว ชเนศร์<br />
          Chanate family<br />
          ครอบครัว โรจนยุกตานนท์<br />
          Rojanayooktanon family<br />
          นพ. สุวินัย บุษราคัมวงษ์<br />
          Dr. Suvinai Busarakamwongs<br />
          พญ.ณัฏฐณิชา <br />ชัยศรีมณีพรรณ<br />
          Dr. Natthanicha Chaisrimaneepan<br />
          นพ. คณินทร์ ศรีอุดมพร<br />
          Dr. Kanin Sriudomporn<br />
          เมธาวรินทร์ ธนรัชต์วัฒนา<br />
          Medhawarintr Dhanarachwattana<br />
          พีรพัทธ์ นันนารารัตน์<br />
          Pheerapath Nunnararat
        </ion-col>
      </ion-row>
    </div>


    <div style="padding-top: 10px; width: 100%;">
      <ion-row>
        <ion-col style="text-align: right;">
          <ion-img src="../assets/img/Srinakharinwirot_Logo_TH_Color.png" style="height: 70%; padding-left: 20%;">
          </ion-img>
        </ion-col>
        <ion-col style="text-align: left;">
          <ion-img src="../assets/img/SWU_College_Social_Communication_Innovation_TH_Color.png"
            style="height: 80%; padding-right: 20%;"></ion-img>
        </ion-col>
      </ion-row>
    </div>
  </div>



</ion-content>