ion-title{
    font-size: 20px;
    color: white;
}

.labelH{
    font-size: 14px;
    color: white;
    font-family: 'Bai Jamjuree';
}

ion-badge{
    font-size: 16px;
    --background:#508BC3 !important;
    font-family: 'Prompt';
}

.toolbarColor{
    --background: #508BC3;
    font-size: 16px;
    color: white;
    font-family: 'Prompt';
    padding-left: 5%;

  }

  ion-content {
    --background: #215E94;
    background-position-y: bottom;
  }
