ion-title{
    font-size: 20px;
    color: white;
}

.labelH{
    font-size: 14px;
    color: white;
    font-family: 'Bai Jamjuree';
}

ion-badge{
    font-size: 16px;
    --background:#EC9973 !important;
    font-family: 'Prompt';
}

.toolbarColor{
    --background: #EC9973;
    font-size: 16px;
    color: white;
    font-family: 'Prompt';
  }

  ion-content {
    --background: #508BC3;
    background-position-y: bottom;
  }
