.card-list{
    background-color: #215E94
}

ion-content {
    --background: url('/src/assets/img/cardlist/4-12.png') no-repeat 100% 100%;
}
ion-list {
    background-color: transparent;
}

ion-header {
    height: 12%;
    background-color: transparent;

}

.text-card{
    font-size: 18px;
    color: white;
    font-weight: bold;
    font-family: 'Bai Jamjuree';
}

.text-head-list{
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding-left: 15px;
}
