ion-content ion-toolbar {
  --background: translucent;
}

.LabelH{
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: 'Bai Jamjuree';
}

.LabelHC{
  font-size: 16px;
  font-weight: bold;
  color: white;
  font-family: 'Bai Jamjuree';
}

.LabelD{
  font-size: 14px;
  font-weight: lighter;
  color: white;
  font-family: 'Bai Jamjuree';
}

.LabelDC{
  font-size: 14px;
  font-weight: lighter;
  color: white  ;
  font-family: 'Bai Jamjuree';
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
}


.cardHome{
  // background-color: #E1AD9F;
  background: linear-gradient(155deg, #FF8474 50%, #ED6E64 50%);
  
}


.cardHome1{
  background-color: #E1AD9F;
  min-height: 150px;
  max-height: 150px;
  max-width: 350px;
  min-width: 350px;

}
