<ion-header>
  <ion-toolbar>
    <ion-title>
      วัคซีนของฉัน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <ion-label class="Menu-Header">ประวัติทางการแพทย์</ion-label>


  <ion-card class="cardHome">
    <ion-card-header>

      <ion-label class="LabelH">อัญชิสา โรจนยุกตานนท์</ion-label>

    </ion-card-header>

    <ion-card-content>
      <ion-label class="LabelD">13 พฤศจิกายน 2540</ion-label><br/>
      <ion-label class="LabelD">22 ปีบริบูรณ์</ion-label><br/>
      <ion-label class="LabelD">O+ น้ำหนัก 45 ส่วนสูง 165</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-label class="Menu-Header">ประวัติการฉีดวัคซีน</ion-label>



</ion-content>