<ion-header>
  <ion-toolbar>
    <ion-title>
      วัคซีนของฉัน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <ion-label class="Menu-Header">ประวัติทางการแพทย์</ion-label>


  <ion-card class="cardHome">
    <ion-card-header>

      <ion-card-title>อัญชิสา โรจนยุกตานนท์</ion-card-title>

    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>13 พฤศจิกายน 2540</ion-card-subtitle>
      <ion-card-subtitle>22 ปีบริบูรณ์</ion-card-subtitle>
      <ion-card-subtitle>O+ น้ำหนัก 45 ส่วนสูง 165</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-label class="Menu-Header">ประวัติการฉีดวัคซีน</ion-label>



</ion-content>