<ion-header>
  <ion-toolbar>
    <ion-title>
      วัคซีนของฉัน
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <ion-label class="Menu-Header">ประวัติทางการแพทย์</ion-label>


  <ion-card class="cardHome">
    <ion-card-header>

      <ion-label class="LabelH">{{ Name }} {{ Surname }}</ion-label>

    </ion-card-header>

    <ion-card-content>
      <ion-label class="LabelD">{{ BirthDay }}</ion-label><br/>
      <ion-label class="LabelD">{{ Age }} ปีบริบูรณ์</ion-label><br/>
      <ion-label class="LabelD">{{ BloodGroup }} น้ำหนัก {{ Weight }} ส่วนสูง {{ Height }}</ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-button color="danger" expand="block" (click)=LogOut() style="width: 100%; ">Logout</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-label class="Menu-Header">ประวัติการฉีดวัคซีน</ion-label>

  <br/>
  
  <ion-card class="cardHome1" *ngFor="let item of VacArray">
    <ion-card-header>

      <ion-label class="LabelHC">{{ item.vacnameth }}</ion-label><br/>
      <ion-label class="LabelHC">{{ item.vacnameen }}</ion-label>

    </ion-card-header>

    <ion-card-content>
      <ion-label class="LabelDC">ฉีดครั้งล่าสุด</ion-label><br/>
      <ion-label class="LabelDC">{{ item.start_date }}</ion-label><br/>
      <ion-label class="LabelDC">{{ item.hospital }}</ion-label>

      <ion-img src="../assets/img/vaccine/{{ item.vacnameen }}.png" style="height: 100px;">

      </ion-img>
    </ion-card-content>

    <br/>

    
  </ion-card>
  


</ion-content>