<ion-header>
  <ion-toolbar class="toolbarColor">
    <ion-title>
      เพิ่มวัคซีน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="VacForm" style="padding-top: 10px;">

    <ion-label class="headerSelect">Vaccine</ion-label>
    
    <ion-card (ionFocus)="ModalSelectVaccine()">
      <ion-input type="text" formControlName="Vaccine"></ion-input>
    </ion-card>

    <ion-label class="headerSelect">Vaccine</ion-label>
    
    <ion-card (ionFocus)="ModalSelectVaccineTime()">
      <ion-input type="text" formControlName="Time"></ion-input>
    </ion-card>

    <ion-label class="headerSelect">Date <ion-icon name="calendar" style="color: white;"></ion-icon></ion-label>
    

    <ion-card>
      <ion-datetime displayFormat="YYYY-MM-DD" formControlName="Date">
      </ion-datetime>
    </ion-card>

    <ion-label class="headerSelect">Hospital <ion-icon name="medkit" style="color: white;"></ion-icon></ion-label>
    

    <ion-card>
      <ion-input type="text" formControlName="Hospital"></ion-input>
    </ion-card>

  </form>

  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-button color="danger" expand="block" style="width: 100%; " (click)="AddVaccine()">Submit</ion-button>
      </ion-col>
      <ion-col style="text-align: center;">
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>