<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ข้อมูลวัคซีน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-img src="../assets/img/BG_data_Graphic_top.jpg"></ion-img>


  <ion-label class="Menu-Header">Recommended Age & Condition</ion-label>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/0-3.jpg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/4-12.jpg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/13-18.jpg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/19-26.jpg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/27-64.jpg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/65+.jpg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/disease.jpg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/preg.jpg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/pet_owner.jpg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/babysitter.jpg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/doctor.jpg"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="cardMenu">
          <ion-img src="../assets/img/traveler.jpg"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>