ion-title{
    font-size: 20px;
    color: white;
}

.labelH{
    font-size: 14px;
    color: white;
    font-family: 'Bai Jamjuree';
}

ion-badge{
    font-size: 16px;
    --background:#F15F5C !important;
    font-family: 'Prompt';
}

.toolbarColor{
    --background: #F15F5C;
    font-size: 16px;
    color: white;
    font-family: 'Prompt';
    padding-left: 5%;

  }

  ion-content {
    --background: #A51B1D;
    background-position-y: bottom;
  }
