ion-title{
    font-size: 20px;
    color: white;
}

.labelH{
    font-size: 14px;
    color: white;
    font-family: 'Bai Jamjuree';
}

ion-badge{
    font-size: 16px;
    --background:#8D518B !important;
    font-family: 'Prompt';
}

.toolbarColor{
    --background: #8D518B;
    font-size: 16px;
    color: white;
    font-family: 'Prompt';
    padding-left: 3% !important;
    font-weight: bold;

  }

  ion-content {
    --background: #BE81B6;
    background-position-y: bottom;
  }
