<ion-header>
  <ion-toolbar>
    <ion-title>การตั้งค่า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label style="padding-left: 4px; font-family: 'Prompt';">ตั้งค่าบัญชีผู้ใช้</ion-label>
    </ion-item>
    <ion-item (click)=LogOut()>
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label style="padding-left: 4px; font-family: 'Prompt';">ออกจากระบบ</ion-label>
    </ion-item>
  </ion-list>

  <ion-img src="../assets/img/calendar_GP.png" style="width: 100%; margin-top: 40%;"></ion-img>
</ion-content>