<ion-header>
  <ion-toolbar>
    <ion-title>การตั้งค่า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image-more">
  <ion-list>
    <ion-item (click)=EditProfile()>
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label style="padding-left: 4px; font-family: 'Prompt';">ตั้งค่าบัญชีผู้ใช้</ion-label>
    </ion-item>
    <ion-item (click)=LogOut()>
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label style="padding-left: 4px; font-family: 'Prompt';">ออกจากระบบ</ion-label>
    </ion-item>
    <ion-item  (click)=About()>
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label style="padding-left: 4px; font-family: 'Prompt';">เกี่ยวกับแอพพลิเคชั่น</ion-label>
    </ion-item>
  </ion-list>

</ion-content>