ion-slide {
  height: 100vh;
  flex-direction: column;
}

ion-img {
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
}

.title-intro {
  padding-left: 10px;
  padding-right: 10px;
}
.step-one {
  background: white;
  color: var(--ion-color-primary-contrast);
}

.step-two {
  background: white;
  color: var(--ion-color-success-contrast);
}

.step-three {
  background: white;
  color: var(--ion-color-dark-contrast);
}

ion-slides {
  --bullet-background: grey;
  --bullet-background-active: #EB445A;
}
