ion-title{
    font-size: 20px;
    color: white;
}

.labelH{
    font-size: 14px;
    color: white;
    font-family: 'Bai Jamjuree';
}

ion-badge{
    font-size: 16px;
    --background:#F3C234 !important;
    font-family: 'Prompt';
}

.toolbarColor{
    --background: #F3C234;
    font-size: 16px;
    color: white;
    font-family: 'Prompt';
    padding-left: 3% !important;
    font-weight: bold;

  }

  ion-content {
    --background: #C08C15;
    background-position-y: bottom;
  }
