/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-tab-button:focus-within{
  color: #F26C6B
}

ion-tab-button:focus-visible{
  color: #F26C6B
}

ion-tab-button:focus{
  color: #F26C6B
}




ion-tab-button{
  color: gray;
}

ion-title {
    font-size: 38px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    color: gray;
    
}

  ion-header {
    height: 12%;
    background-color: transparent;

}

ion-toolbar{
    height: 100%;
    text-align: left;
    background-color: transparent;
}

  .Menu-Header {
    font-size: 18px;
    font-weight: bold;
    padding: 6%;
    color: gray;
    font-family: 'Roboto';

  }
  

  .cardHome{
    background-color: #E1AD9F;
  }


  .cardMenu{
      width: 70%;
  }

  .bg-image {
    background-image: url(../src/assets/img/menu/data_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg-image-h {
  background-image: url(../src/assets/img/BG_graphic_signin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bg-image-l {
  background-image: url(../src/assets/img/cardlist/0-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}


