.TitleMonth{
    font-size: 28px;
    font-weight: bold;
    color: gray;
    font-family: 'Roboto';
    align-items: center;
}

.LabelCard{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Prompt';
    color: gray;
}
